/*
*   Style: monokailight
*   https://xyproto.github.io/splash/docs/monokailight.html
*/

$color: #272822;
$background-color: #fafafa;
$error-color: #960050;
$keyword-color: #006b80;
$text-color: #111111;
$name-color: #4b7000;
$literal-color: #975900;

@import "common.scss";
